@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital@1&family=Caveat&family=Cinzel&family=Kaushan+Script&family=Sedgwick+Ave+Display&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300&family=Bona+Nova:ital@1&family=Caveat&family=Cinzel&family=Kaushan+Script&family=Roboto+Mono:wght@100&display=swap');


* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    color: #fff;
    background-color: #fff;
    font-family:'Poppins', sans-serif;
    /* min-height: 20000px; */
}

.kontener{
    width: 100%;
    height: 100vh;
    padding: 2% 2%;
    /* border: 1px #000 solid; */
}

.kotak {
    display: flex;
    justify-content: space-between;
    height: 100%;
    background-color: #52b788;
    padding: 4rem 12%;
    border-radius: 1.5rem;
}

.kotak .form{
    color: #fff;
    padding: 2rem 4%;
    /* border: 1px #000 solid; */
    border-radius: 1.5rem;
}

.form h3{
    margin-bottom: 4rem;
}

.lain-lain{
    width: 50%;
    text-align: center;
    /* border: 1px solid #fff; */
}

.lain-lain .atas{
    text-align: left;
}

.atas h2{
    font-family: 'Averia Serif Libre', cursive;
    font-weight: 2000;
    color: #fff;
}

.atas .beda{
    font-size: 1.5rem;
    margin-top: 5rem;
}

.lain-lain img{
    margin-top: 5rem;
    width: 100%;
    height: 15rem;
}

form input{
    color: #000;
    width: 100%;
    /* border: 5px solid #fff; */
    padding: 1.2em 5%;
    margin-bottom: 0.8rem;
    border-radius: 1rem;
    background: #e4e4e4 ;
}

.form{
    border: 1px solid #fff;
}

.form h3{
    font-weight: 100;
}

.form form .error{
    margin: 10px 0;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2rem;
}

.terms {
    display: flex;
    margin-top: 1rem;
}

.terms input{
    width: auto;
    height: auto;
    margin-right: 1rem;
    margin-top: 0.3rem;
}

.br{
    border: 1px solid #fff;
    margin-top: 2rem;
}

.form p{
    margin-top: 1rem;
}



/* .kontener-1{
    text-align: center;
    padding-top: 1.4rem;
}

.kontener-1 h2{
    color: #52b788;
    font-weight: 1000;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 0.5rem 5%;
    background-color: #fff;
} */