@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
}

body{
    min-height: 100vh;
    color: #fff;
    background-color: rgb(20, 19, 19);
}

table{
    text-align: center;
    border: 2px solid #fff;
    border-collapse: collapse;
    width: 50%;
}

tr th{
    border: 2px solid #fff;
}

.pilihan {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pilihan a{
    padding: 0.5rem 2%;
    color: #fff;
    margin: 1rem 2%;
    border: 1px solid #fff;
    border-radius: 10px;
}